img {
  transform: scale(1.01);
  height: 160px;
  object-fit: cover;
}

input {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  // max-width: 55px;
}

select{
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  text-align: center;
}

.add{
  margin-inline-end: 3px;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.5%;
}

.records-container{
  max-height: 250px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
