.footerContainer {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  padding: 0 1rem;
}

.nav {
  position: relative;
  width: 100%;
  // padding: 20px;
  // margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #0d6efd;
  // border: 1px solid #252325;
  border-radius: 30px;
  overflow: hidden;
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50px;
  margin: 0 5px;
  padding: 20px;
  // color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  transition: 0.3s;
}

.nav-item.active {
  color: #fff;
}

.nav-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  transform: translate(-10%, -10%);
  background: radial-gradient(#1ff3f7, transparent);
  filter: blur(10px);
  opacity: 0.2;
}

.nav-item i {
  font-size: 24px;
}

.nav-item span {
  font-size: 11px;
  font-weight: 600;
}

.nav-indicator-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
  display: flex;
  justify-content: center;
}

.nav-indicator {
  width: 30px;
  height: 5px;
  background-color: #1ff3f7;
  border-radius: 10px;
}
